<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <title>Chamados</title>

    <!-- <style>
        .fab {
            font-size: 30px;
            position: fixed;
            bottom: 20px;
            right: 20px;

            width: 60px;
            height: 60px;
            border-radius: 50%;

            background-color: #0d6efd;
            color: white;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 32px;
            text-decoration: none;

            box-shadow: 0 4px 10px rgba(0,0,0,0.3);

            transition: 0.2s;
            z-index: 999;
        }

        .fab:hover {
            transform: scale(1.1);
            background-color: #0b5ed7;
        }
    </style> -->
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-md">
                <a href="/" class="navbar-brand">
                    <img th:src="@{/jticketLogo.png}" alt="Logo" style="height: 60px;">
                </a>
                <div class="dropdown">
                    <a style="color: white;" class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <span th:text="${usuarioLogado != null ? usuarioLogado.nome : 'Usuário'}"></span>
                    </a>
        
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/perfil">Ver meu perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form method="post" action="/logout">
                                <button class="dropdown-item">Sair</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mt-4">
            <form class="d-flex mb-3" method="get" action="/chamados">
            
                <input class="form-control me-2" type="text" name="titulo" placeholder="Buscar por título..."
                    th:value="${tituloBusca}">
            
                <button class="btn btn-outline-primary" type="submit">
                    Buscar
                </button>
            
            </form>
            <div class="card">
                <div class="card-header">
                    <h3>
                        Chamados
            
                        <div class="d-flex gap-2 float-end">
                            <a th:href="@{/chamados/novo}" class="btn btn-primary">
                                <i class="bi-plus-square"></i> Novo chamado
                            </a>
                        </div>
                    </h3>
                </div>
            
                <div class="card-body">
                    <table class="table table-bordered table-striped align-middle">
                        <thead>
                            <tr>
                                <th>Prioridade</th>
                                <th>Título</th>
                                <th>Status</th>
                                <th class="text-nowrap" style="width: 1%;">Ações</th>
                            </tr>
                        </thead>
            
                        <tbody>
                            <tr th:each="chamado : ${chamados}">
                                <td th:text="${chamado.prioridade}"></td>
            
                                <td th:text="${chamado.titulo}"></td>
            
                                <td th:text="${chamado.status}"></td>
            
                                <td class="text-nowrap">
                                    <div class="d-flex gap-2">
                                        <a th:href="@{/chamados/{id}(id=${chamado.id})}" class="btn btn-secondary">
                                            <i class="bi-eye-fill"></i> Visualizar
                                        </a>
            
                                        <a th:href="@{/chamados/editar/{id}(id=${chamado.id})}" class="btn btn-success">
                                            <i class="bi-pencil-fill"></i> Atualizar
                                        </a>
                                    </div>
                                </td>
                            </tr>
            
                            <tr th:if="${#lists.isEmpty(chamados)}">
                                <td colspan="4" class="text-center text-muted">
                                    Nenhum chamado encontrado.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
        <a href="/contato" class="btn btn-primary shadow rounded-pill d-flex align-items-center gap-2" style="
                position: fixed;
                bottom: 24px;
                right: 24px;
                padding: 12px 16px;
                z-index: 999;
           " title="Contato com desenvolvedores">
        
            <span style="font-size: 18px;">✉</span>
            <span>Contato</span>
        </a>
    </main>


    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>



