<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <title th:text="${chamado.id == null} ? 'Novo Chamado' : 'Editar Chamado'"></title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
</head>

<body>

    <header>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-md">
                <a href="/" class="navbar-brand">
                    <img th:src="@{/jticketLogo.png}" alt="Logo" style="height: 60px;">
                </a>
                <div class="dropdown">
                    <a style="color: white;" class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Usuário
                    </a>
        
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/perfil">Ver meu perfil</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <form method="post" action="/logout">
                                <button class="dropdown-item">Sair</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container mt-4">
        
            <div class="card">
        
                <div class="card-header d-flex align-items-center">
                    <h3 th:text="${chamado.id == null} ? 'Novo Chamado' : 'Editar Chamado'"></h3>

                    <div class="ms-auto">
                        <form th:if="${chamado.id != null}" th:action="@{/chamados/deletar/{id}(id=${chamado.id})}" method="post">

                            <button type="submit" class="btn btn-danger" onclick="return confirm('Deseja realmente excluir este chamado?')">
                                Excluir
                            </button>

                        </form>
                    </div>

                </div>
        
                <div class="card-body">
        
                    <form th:action="@{/chamados}" method="post" th:object="${chamado}">
        
                        <input type="hidden" th:field="*{id}">
        
                        <div class="mb-3">
                            <label class="form-label">Título</label>
                            <input class="form-control"
                                type="text"
                                th:field="*{titulo}"
                                required>
                        </div>
        
                        <div class="mb-3">
                            <label class="form-label">Descrição</label>
                            <textarea class="form-control"
                                    rows="6"
                                    th:field="*{descricao}"
                                    required></textarea>
                        </div>
        
                        <div class="row">
        
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Prioridade</label>
        
                                <select class="form-select" th:field="*{prioridade}">
                                    <option th:value="${T(dev.kevin.jticket.enums.PrioridadeChamado).BAIXA}">Baixa</option>
                                    <option th:value="${T(dev.kevin.jticket.enums.PrioridadeChamado).NORMAL}">Normal</option>
                                    <option th:value="${T(dev.kevin.jticket.enums.PrioridadeChamado).ALTA}">Alta</option>
                                    <option th:value="${T(dev.kevin.jticket.enums.PrioridadeChamado).URGENTE}">Urgente</option>
                                </select>
                            </div>
        
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Status</label>
        
                                <select class="form-select" th:field="*{status}">
                                    <option th:value="${T(dev.kevin.jticket.enums.StatusChamado).ABERTO}">
                                        Aberto
                                    </option>
        
                                    <option th:value="${T(dev.kevin.jticket.enums.StatusChamado).EM_ANDAMENTO}">
                                        Em andamento
                                    </option>
        
                                    <option th:value="${T(dev.kevin.jticket.enums.StatusChamado).FECHADO}">
                                        Fechado
                                    </option>
                                </select>
                            </div>
        
                            <div class="col-md-4 mb-3">
                                <label class="form-label">Categoria</label>
        
                                <input class="form-control"
                                    type="text"
                                    th:field="*{categoria}">
                            </div>
        
                        </div>
        
                        <div class="d-flex gap-2">
        
                            <button class="btn btn-primary">
                                Salvar
                            </button>
        
                            <a th:href="@{/chamados}" class="btn btn-secondary">
                                Cancelar
                            </a>

        
                        </div>
        
                    </form>

                    
        
                </div>
        
            </div>
        
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>